
.Footer-col-1,.Footer-col-2 ,.Footer-col-3 ,.Footer-col-4  {
    padding: 0 12px;
    margin-bottom: 80px;
    
}
    
.Footer-col-1 p{
    width: 80%;
    margin: 20px 0;
    color: white;
}
.Footer-col-1 .social-div .social-icon{
padding: 8px;
border: 1px white solid;
margin-right: 10px;
}
.Footer-col-1 .social-div .social-icon .icon{
font-size: 20px;
color: white;
}
.Footer-col-2 h4 ,.Footer-col-3 h4 ,.Footer-col-4 h4{
    color: white;
    position: relative;
    margin-bottom: 50px;
}
.Footer-col-2 ul{
    padding: 0;
    line-height: 40px;
}
.Footer-col-2 ul li {

    list-style: none;
}
.Footer-col-2 ul li a{
    text-decoration: none;
    color: white;
}
.Footer-col-2 ul li a svg{
    font-size: 30px;
}
.Recent-div{
    margin-top: 20px;
    display: flex;
    
}
.Recent-div img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.Recent-div-content{
    color: white;
    font-size: 14px;
    
}
.Recent-div-content p{
    margin-top: 10px;
    
}
.Footer-input-div{
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
}
.Footer-input-div input{
    border: none;
    padding: 5px;
}
.Footer-input-div button{
    padding: 5px 12px;
    border: none;
    background-color:rgb(56, 75, 255);
    color: white;
    border-radius: 5px;
}
.Footer-col-4 p{
    color: white;
}
.Agree{
    margin-top: 30px;
}
.Agree input{
    margin-right: 10px;
}
.Agree  label a{
    color: white;
}
.Footer-col-2 h4::after,
.Footer-col-3 h4::after,
.Footer-col-4 h4::after{
    content: "";
    height: 3px;
    width: 50px;
    position: absolute;
    left: 0px;
    bottom: -20px;
    background-color: white;
    border-radius: 5px;
}
.FooterComponent2{
    background-color: red;
}