.AboutCard{
    
    margin: 40px 0;
}

.AboutCard-image img{
    width: 100%;
    height: 320px;
    border-radius: 10px;
}
.AboutCard-image {
    position: relative;
}
.AboutCard-content{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgb(24, 24, 94);
    z-index: 1;
    color: white;
    text-align: center;
    padding: 10px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.AboutCard-content h4{
    font-weight: bold;
    font-size: 20px;
}
.AboutCard-content p{
    margin-bottom: 0;
}
/*  */
