.Team-Members-Title{
    color: rgb(56, 75, 255);
    margin-bottom: 20px;
}
.Team-Members-left-section h2{
    width: 80%;
    font-size: 36px;
    font-weight: bold;
}
.Team-Members-right-section{
    text-align: end;
    
}
.Team-Members-right-section button{
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: rgb(56, 75, 255);
    color: white;
}